In [1]:
print('hi')

hi

In [2]:
def func_1(x): # x에다가 1을 더해주고, 그리고 우리에게 보여줍니다가 역할
    return(x+1)

def func_2(x): # x에다가 1을 더해주고, 그리고 우리에게 반환해줍니다(사용할 수 있도록)
    return x+2

In [6]:
func_1(10)

11

In [18]:
#구구단 만들어보자 2 4 6 8 10  3 6 9 12 ... 4. ... . ..  36
#n_단을 만들 예정, n이란 숫자가 필요하다
n=9
gugudan=[]
for n in range(2,10):
    n_dan=[]
    for i in range(1,10):
        n_dan.append(n * i)
    gugudan.append(n_dan)

from pprint import pprint
pprint(gugudan)

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [ ]:
def make_n_dan(n):
    n_dan=[]
    for i in range(1,10):
        n_dan.append(n*i)

In [20]:
#19 19단
gugudan=[]
for n in range(2,20):
    n_dan=[]
    for i in range(1,20):
        n_dan.append(n * i)
    gugudan.append(n_dan)
pprint(gugudan)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114],
 [7,
  14,
  21,
  28,
  35,
  42,
  49,
  56,
  63,
  70,
  77,
  84,
  91,
  98,
  105,
  112,
  119,
  126,
  133],
 [8,
  16,
  24,
  32,
  40,
  48,
  56,
  64,
  72,
  80,
  88,
  96,
  104,
  112,
  120,
  128,
  136,
  144,
  152],
 [9,
  18,
  27,
  36,
  45,
  54,
  63,
  72,
  81,
  90,
  99,
  108,
  117,
  126,
  135,
  144,
  153,
  162,
  171],
 [10,
  20,
  30,
  40,
  50,
  60,
  70,
  80,
  90,
  100,
  110,
  120,
  130,
  140,
  150,
  160,
  170,
  180,
  190],
 [11,
  22,
  33,
  44,
  55,
  66,
  77,
  88,
  99,
  110,
  121,
  132,
  143,
  154,
  165,
  176,
  187,
  198,
  209],
 [12,
  24,
  36,
  48,
  60,
  72,
  84,
  96,
  108,
  120,
  132,
  144,
  156,
  168,
  180,
  192,
  204,
  216,
  228],
 [13,
  26,
  39,
  52,
  65,
  78,
  91,
  104,
  117,
  130,
  143,
  156,
  169,
  182,
  195,
  208,
  221,
  234,
  247],
 [14,
  28,
  42,
  56,
  70,
  84,
  98,
  112,
  126,
  140,
  154,
  168,
  182,
  196,
  210,
  224,
  238,
  252,
  266],
 [15,
  30,
  45,
  60,
  75,
  90,
  105,
  120,
  135,
  150,
  165,
  180,
  195,
  210,
  225,
  240,
  255,
  270,
  285],
 [16,
  32,
  48,
  64,
  80,
  96,
  112,
  128,
  144,
  160,
  176,
  192,
  208,
  224,
  240,
  256,
  272,
  288,
  304],
 [17,
  34,
  51,
  68,
  85,
  102,
  119,
  136,
  153,
  170,
  187,
  204,
  221,
  238,
  255,
  272,
  289,
  306,
  323],
 [18,
  36,
  54,
  72,
  90,
  108,
  126,
  144,
  162,
  180,
  198,
  216,
  234,
  252,
  270,
  288,
  306,
  324,
  342],
 [19,
  38,
  57,
  76,
  95,
  114,
  133,
  152,
  171,
  190,
  209,
  228,
  247,
  266,
  285,
  304,
  323,
  342,
  361]]

In [21]:
#19 19단
def make_n_m_dan(n,m):
    gugudan=[]
    for n in range(2,20):
        n_dan=[]
        for i in range(1,20):
            n_dan.append(n * i)
        gugudan.append(n_dan)
    return gugudan

In [22]:
pprint(make_n_m_dan(7,9))

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114],
 [7,
  14,
  21,
  28,
  35,
  42,
  49,
  56,
  63,
  70,
  77,
  84,
  91,
  98,
  105,
  112,
  119,
  126,
  133],
 [8,
  16,
  24,
  32,
  40,
  48,
  56,
  64,
  72,
  80,
  88,
  96,
  104,
  112,
  120,
  128,
  136,
  144,
  152],
 [9,
  18,
  27,
  36,
  45,
  54,
  63,
  72,
  81,
  90,
  99,
  108,
  117,
  126,
  135,
  144,
  153,
  162,
  171],
 [10,
  20,
  30,
  40,
  50,
  60,
  70,
  80,
  90,
  100,
  110,
  120,
  130,
  140,
  150,
  160,
  170,
  180,
  190],
 [11,
  22,
  33,
  44,
  55,
  66,
  77,
  88,
  99,
  110,
  121,
  132,
  143,
  154,
  165,
  176,
  187,
  198,
  209],
 [12,
  24,
  36,
  48,
  60,
  72,
  84,
  96,
  108,
  120,
  132,
  144,
  156,
  168,
  180,
  192,
  204,
  216,
  228],
 [13,
  26,
  39,
  52,
  65,
  78,
  91,
  104,
  117,
  130,
  143,
  156,
  169,
  182,
  195,
  208,
  221,
  234,
  247],
 [14,
  28,
  42,
  56,
  70,
  84,
  98,
  112,
  126,
  140,
  154,
  168,
  182,
  196,
  210,
  224,
  238,
  252,
  266],
 [15,
  30,
  45,
  60,
  75,
  90,
  105,
  120,
  135,
  150,
  165,
  180,
  195,
  210,
  225,
  240,
  255,
  270,
  285],
 [16,
  32,
  48,
  64,
  80,
  96,
  112,
  128,
  144,
  160,
  176,
  192,
  208,
  224,
  240,
  256,
  272,
  288,
  304],
 [17,
  34,
  51,
  68,
  85,
  102,
  119,
  136,
  153,
  170,
  187,
  204,
  221,
  238,
  255,
  272,
  289,
  306,
  323],
 [18,
  36,
  54,
  72,
  90,
  108,
  126,
  144,
  162,
  180,
  198,
  216,
  234,
  252,
  270,
  288,
  306,
  324,
  342],
 [19,
  38,
  57,
  76,
  95,
  114,
  133,
  152,
  171,
  190,
  209,
  228,
  247,
  266,
  285,
  304,
  323,
  342,
  361]]

In [24]:
#그리드!

n=4
#잘못된식\\\\ㅎ걍
grid = [[0]*n] *n
print(grid)
grid=-[]
small_grid = [0]*n
for _ in range(5):
    grid.append(small_grid)
# grid[0][0] =1
# pprint(grid/)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [25]:
grid=[]
for i in range(n):
    small_grid = [0]*n
    grid.append(small_grid)

In [38]:
grid = [[0]*n for _ in range(n)]

In [44]:
grid2 = [[0] *n for _ in range(n)]

In [45]:
pprint(grid2)# CH최종형태..

grid

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [43]:
lst1=[1,2,3]
lst2 = lst1
lst1[0]=100
print(lst1,lst2)

[100, 2, 3] [100, 2, 3]

In [46]:
lst1 =[1,2,3]
lst2  =lst1[:]
lst1[0]=100
print(lst1,lst2)

[100, 2, 3] [1, 2, 3]

In [55]:
# 2차원일때는 불가능하므로 deepcopy를 통해
mat1=[[1,2],[3,4]]
mat2 = copy.deepcopy(mat1)
mat1[0][0] = 100
print(mat1)
print(mat2)

from copy import deepcopy
import copy
#얕은 카피를 recursive하게 하면 됩니다!

print(mat2)

[[100, 2], [3, 4]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [56]:
a=input()
print(a)

2

In [64]:
T= int(input())
for _ in range(T):
    a= input().split(' ')
    print(' '.join(a))

1 2
3 4
5 4
2 3
1 2

In [65]:
T= int(input())
for _ in range(T):
    x= input().split()
    # new_lst=[]
    # for i in x:
    #     new_lst.append(int(i))
    # new_lst= [int(char) for char in x]

    # x=list(map(int,x))

#1 6 -> input의 과정
#['1','6'] -> strip의 과정
#[1,6] -> map을 활용해서 씌어줄 것이다.
#map(int())->contain으로 활용할 것이다.
#

ValueError: invalid literal for int() with base 10: ''

In [ ]:
T= int(input())
for _ in range(T):
    input_value = input()# str로써 입력
    input_value = input_value.split() # 리스트의 형태로 바꾸미
    input_value=list(map(int,input_value).split()) #리스트 원소들을 각각 정수로 바꿈

In [78]:
a,b= map(int,input().split())
lst=[]
k=0
for _ in range(a):
    lst1=[]
    for _ in range(b):
        lst1.append(k+1)
        k= k+1
    lst.append(lst1)

lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [ ]:
[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]