In [1]:
print('hi')

hi

In [12]:
[print('\n') if i%4==0 else i for i in range(1,16)]

[1, 2, 3, None, 5, 6, 7, None, 9, 10, 11, None, 13, 14, 15]

In [44]:
#1

result2=[]
i=1
for _ in range(4):
    result=[]
    for _ in range(4):
        result.append(i)
        i+=1
    result2.append(result)
result2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [50]:
mat=[[0]*4 for _ in range(4)]
num=1
for i in range(4):
    for index in range(4):
        mat[i][index]=num
        num+=1
mat

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [45]:
i=1
re2=[]
for _ in range(4):
    re=[]
    for _ in range(4):
        re.append(i**2)
        i+=1
    re2.append(re)
print(re2)

[[1, 4, 9, 16], [25, 36, 49, 64], [81, 100, 121, 144], [169, 196, 225, 256]]

In [51]:
mat=[[0]*4 for _ in range(4)]
num=1
for i in range(4):
    for index in range(4):
        mat[i][index]=num**2
        num+=1
mat

[[1, 4, 9, 16], [25, 36, 49, 64], [81, 100, 121, 144], [169, 196, 225, 256]]

In [63]:
#3번
num=0
re2=[]
i=2
for _ in range(3):
    re=[]
    for _ in range(3):
        re.append(num)
        num=num+i
        i=i+2
    re2.append(re)

re2

[[0, 2, 6], [12, 20, 30], [42, 56, 72]]

In [72]:
#3번
mat= [[0]*3 for _ in range(3)]
k=2
re2=[]

num=0
for i in range(3):
    re=[]
    for j in range(3):
        mat[i][j]=num
        num=num+k
        k=k+2
mat

# 0 2 6 # 0 2 4 6 8 ...
# 12 ..

[[0, 2, 6], [12, 20, 30], [42, 56, 72]]

In [77]:
num=0

[mat[j][i] for j in range(3) for i in range(3)]

[0, 2, 6, 12, 20, 30, 42, 56, 72]

In [103]:
#4번
# 1234
# 8765
# ...
# 00 01 02 03 -> 13 12 11 10 -> 20 21 22 23 .... 

num=1
n = 4
mat=[[0]*n for _ in range(n)]
k=0
l=n
p=1
for i in range(n):
    for j in range(k,l,p):# 5 -1 -1 
        mat[i][j]=num
        num+=1
        if j==l-1:# 5
            k=l-1
            l=-1
            p=-1
        else:
            k=0
            l=n
            p=1

mat

[[1, 2, 3, 4], [8, 7, 6, 5], [9, 10, 11, 12], [16, 15, 14, 13]]

In [106]:
mat = [[0]*4 for _ in range(4)]
num=1

for i in range(4):
    if i%2 ==0:
        for j in range(4):
            mat[i][j]=num
            num+=1
    else:
        for j in range(4):
            mat[i][3-j]=num
            num+=1

mat

[[1, 2, 3, 4], [8, 7, 6, 5], [9, 10, 11, 12], [16, 15, 14, 13]]

In [105]:


#1 2 3 4 5  00 01 02 03 04
#                       14

result=[]
num=1
n=5
k=1+n
for i in range(n):
    for j in range(n):
        print(i*n+j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24